* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #141E30, #243B55)
}


.paragraph {
    font-size: 25px;
}


/* this is for text select section */
.box-content {
    background-color: #f5f6fa;
    padding: 60px;
    border-radius: 15px;
}

/* This class is to hide the class */
.hidden {
    display: none;
}


/* type box section */
.type-box {
    background-color: #f5f6fa;
    padding: 8px;
    border-radius: 15px;
}


/* Currect word */
.currect {
    background-color: #2ecc7096;
    color: #27ae60;
}


/* Incorrect word */
.incorrect {
    background-color: #e74d3c5d;
    color: #c0392b;
}

/* current word style */
.current {
    color: #2c3e50;
    text-decoration: underline;
}

/* Final section and congratulations typing */
.well-down {
    background-color: #f5f6fa;
    border-radius: 15px;
}

.well-down h1 {
    color: #353b48;
}

.well-down img {
    width: 300px; 
    margin: 20px;
}

.well-down p {
    color: #2f3640;
    font-size: 30px;
}

.well-down #restart {
    color: #0d0d0e81;
    font-size: 15px;
    font-weight: bold;
}