* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/************** some color for the customize **************/
:root {
    --primary : linear-gradient(to top left, #141E30, #243B55);
    --coll-blues : linear-gradient(to top left, #2193b0, #6dd5ed);
    --dark--ocean : linear-gradient(to top left, #373B44, #4286f4);
    --amin : linear-gradient(to top left, #8E2DE2, #4A00E0);
    --bighead : linear-gradient(to top left, #c94b4b, #4b134f);
    --piggy-pink : linear-gradient(to top left, #ee9ca7, #ffdde1);
    --ultra-voilet : linear-gradient(to top left, #654ea3, #eaafc8);
    --frost : linear-gradient(to top left, #000428, #004e92);
    --miaka : linear-gradient(to top left, #FC354C, #0ABFBC);
    --blurry-beach : linear-gradient(to top left, #d53369, #cbad6d);
    --virgin-america : linear-gradient(to top left, #7b4397, #dc2430);
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important; 
}


.paragraph {
    font-size: 25px;
}


/* this is for text select section */
.box-content {
    background-color: #f5f6fa;
    padding: 60px;
    border-radius: 15px;
}

/* This class is to hide the class */
.hidden {
    display: none;
}


/* type box section */
.type-box {
    background-color: #f5f6fa;
    padding: 8px;
    border-radius: 15px;
}


/* Currect word */
.currect {
    background-color: #2ecc7096;
    color: #27ae60;
}


/* Incorrect word */
.incorrect {
    background-color: #e74d3c5d;
    color: #c0392b;
}

/* current word style */
.current {
    color: #2c3e50;
    text-decoration: underline;
}

/* Final section and congratulations typing */
.well-down {
    background-color: #f5f6fa;
    border-radius: 15px;
}

.well-down h1 {
    color: #353b48;
}

.well-down img {
    width: 300px; 
    margin: 20px;
}

.well-down p {
    color: #2f3640;
    font-size: 25px;
}

.well-down #restart {
    color: #0d0d0e81;
    font-size: 15px;
    font-weight: bold;
}

.customize {
    margin: 0 8px 8px 8px;
    cursor: pointer;
}

.customize div {
    background-size: cover !important;
    width: 70px; 
    height: 70px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.customize p {
    width: auto;
    background-color: #f1f2f6;
    font-size: 12px;
    font-weight: bold;
}